c-table tr td:last-child {
  padding-right: 8px;
}

c-table tr:first-of-type td:first-child {
  border-top-left-radius: 12px;
}

c-table tr:first-of-type td:last-child {
  border-top-right-radius: 12px;
}

c-table tr:last-of-type td:first-child {
  border-bottom-left-radius: 12px;
}

c-table tr:last-of-type td:last-child {
  border-bottom-right-radius: 12px;
}

c-table tr td {
  padding: 8px 4px;
  text-align: left;
  border-bottom: 1px solid #f5f8ff;
}

c-table tr td:first-child {
  padding-left: 8px;
}
